/* 

    RESET

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 

    GENERAL

*/
section {
    border: 1px solid lightcoral;
    margin-bottom: 50px;
    padding: 30px;
}

.box {
    border: 1px solid yellow;
    background-color: crimson;
    width: 200px;
    height: 200px;
}

.background-lightcoral {
    background-color: lightcoral;
}

.background-aquamarine {
    background-color: aquamarine;
}

/* 

    SECTION 1

*/
#upper-div {
    background-color: green;
    margin-bottom: 30px;
}

#lower-div {
    background-color: blue;
    margin-top: 30px;
}

/* 

    SECTION 2

*/
div.background-lightcoral {
    margin-bottom: 50px;
}

div.background-aquamarine.box {
    margin-bottom: 50px;
}

div.a.b.c.d.e.f.g.h.i.j.k.l#special {
    border: 20px solid black;
}

div.a.b.j.k.l#special {
    border-color: brown;
}

/* 

    SECTION 3

*/
[href] {
    color: green;
}

a[href] {
    display: inline-block;
    padding: 5px;
    border: 1px solid red;
}

a[href="#"] {
    font-size: 2em;
}

a[href][target="_blank"] {
    color: red;
}

a.special-link[href][target="_blank"] {
    color: pink;
}

/* 

    SECTION 4

*/
.box:hover {
    background-color: aqua;
    width: 500px;
    height: 500px;
    border: 20px solid purple;
}

a.link-for-statuses:visited {
    color: orange;
}

a.link-for-statuses:active {
    color: lawngreen;
}

input.input-for-focus:focus {
    border: 10px dashed lavender;
}

.box.active-box:active {
    border: 20px solid deeppink;
}